# Copia este archivo a .env y completa los valores reales
# OMDB_API_KEY=tu_clave_aqui
# TMDB_API_KEY=tu_clave_aqui
# SENDER_EMAIL=cuenta@example.com
# SENDER_PASSWORD=tu_contraseña_aqui
# PROXY_USERNAME=wduarte
# PROXY_PASSWORD=1234
